figure{
    width: 100%;
    height: 100%;
}
article{
    width: 100%;
    display: flex;
    justify-content: flex-start;
}
img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.fotos{
    height: 300px;
    width: 100%;
}
main{
    margin-top: 20px;
    height: 100%;
    display: grid;
    grid-template-columns:60%;
    grid-template-rows: 100px 300px 300px;
    justify-content: center;
    gap: 10px;
}
body{
    display: flex;
    flex-direction: column;
}

